<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063801479888-n1i3klcp9cun5rgq3a4010b0s67tcmo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063801479888-n1i3klcp9cun5rgq3a4010b0s67tcmo5</string>
	<key>API_KEY</key>
	<string>AIzaSyDin1Rd7H1UX5kgDXtPwPJhsiQdCV6KiU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1063801479888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johannespertl.where-is-webb</string>
	<key>PROJECT_ID</key>
	<string>jwst-status-7a589</string>
	<key>STORAGE_BUCKET</key>
	<string>jwst-status-7a589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063801479888:ios:bd012a9b2375fbb91974d5</string>
</dict>
</plist>